@model CleanArchitechture.Application.ViewModel.StudentVm
@{
}


<h1 class="text-center">Student Details</h1>

<div>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Address</p>
    <p>@Model.Email</p>
    <p><img src="~/Images/Student/@Model.Images" /></p>
    
</div>